/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Base Styles */
html {
  background-color: white;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

button::-moz-focus-inner {
  border: 0;
}

h1 {
  font-size: 2.5em;
  color: #88001B;
  padding-left: 1%;
}

h2 {
  padding: 2% 0 0 1%;
  font-size: 1.5em;
  color: #88001B;
}

h3 {
  font-size: 1.25em;
  color: #88001B;
  padding: 2% 0 0 2%;
}

/* Header Styles */
#header {
  background-color: #56A556;
  width: 100%;
}

#header img {
  width: 40%;
}

#navcontain ul li{
  padding: 2%;
  border-top: .225em solid #88001B;
  border-right: .225em solid #88001B;
  border-left: .225em solid #88001B;
}

#navcontain a {
  font-size: 1.25em;
  color: white;
  text-decoration: none;
}

#navcontain a:hover {
  color: #88001B;
}

#navcontain ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
/* Body Style */
.pizza button {
  background-color: #88001B;
  color:white;
  padding: 1% 2%;
  cursor: pointer;
}

.pizza button:hover {
  background-color: #B23939;
}

#special {
  display: block;
  width: 100%;
  border: 0.1em solid #024602;
  padding: 6%;
  font-size: 1.2em;
  background-color: white;
  cursor: pointer;
  color: #88001B;
}

#special::after {
  content: '▼';
  float: right;
}

#build {
  display: block;
  width: 100%;
  border: 0.1em solid #024602;
  padding: 6%;
  font-size: 1.2em;
  background-color: white;
  cursor: pointer;
  color: #88001B;
}

#build::after {
  content: '▼';
  float: right;
}

.pizzas {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

.visible2 {
  display: flex;
}

.pizzas img {
  width: 40%;
}

.pizzas button {
  width:40%;
}

.pizzas p {
 width: 40%;
 padding: 1%;
 text-align: left;
}

#cheese {
  order: 1;
}
#deluxe {
  order: 2;
}
#meat {
  order: 11;
}
#bbq {
  order: 12;
}
#cc {
  order: 3;
}
#dc {
  order: 4;
}
#mc {
  order: 13;
}
#bc {
  order: 14;
}
#cd {
  order: 5;
}
#dd {
  order: 6;
}
#md {
  order: 15;
}
#bd{
  order: 16;
}
#size2a {
  display: flex;
  order: 7;
  width: 40%;
  flex-wrap: wrap;
  flex-direction: column;
}
#size2{
  display: inline;
}
#size2 input {
float: left;
}
#size2 label {
float: left;
}
#size2 label + input {
clear: both;
}
#size3a {
  display: flex;
  order: 8;
  width: 40%;
  flex-wrap: wrap;
  flex-direction: column;
}
#size3 {
  display: inline;
}
#size3 input {
  float: left;
}
#size3 label {
  float: left;
}
#size3 label + input {
  clear: both;
}
#size4a {
  display: flex;
  order: 17;
  width: 40%;
  flex-wrap: wrap;
  flex-direction: column;
}
#size4 {
  display: inline;
}
#size4 input {
  float: left;
}
#size4 label {
  float: left;
}
#size4 label + input {
  clear: both;
}
#size5a {
  display: flex;
  order: 18;
  width: 40%;
  flex-wrap: wrap;
  flex-direction: column;
}
#size5 {
  display: inline;
}
#size5 input {
  float: left;
}
#size5 label {
  float: left;
}
#size5 label + input {
  clear: both;
}
#add1 {
  order: 9;
}
#add2 {
  order: 10;
}
#add3 {
  order: 19;
}
#add4 {
  order: 20;
}
.builds {
  display: none;
}

.builds section {
  padding: 1% 0;
}
#buildc {
  max-width: 95%;
  padding: 0 0 0 2.5%;
  order: 1;
}
#sizehead {
  order: 2;
}
#size1a {
  display: flex;
  order: 3;
  flex-wrap: wrap;
  flex-direction: column;
}
#size1{
  display: inline;
}
#size1 input {
float: left;
}
#size1 label {
float: left;
}
#size1 label + input {
clear: both;
}
#tophead {
  order: 4;
}
#meathead {
  order: 5;
}
#meat1 {
  order: 6;
}
#meat2{
  order: 7;
}
#veghead {
  order: 8;
}
#veg1 {
  order: 9;
}
#veg2 {
  order: 10;
}
#add5 {
  order: 11;
  width: 80%;
}
.visible3 {
  display: flex;
  flex-direction: column;
}
/* cart style */
#carthtml {
  padding: 1%;
}

#cartjs {
  padding-bottom: 1%;
}

#clear {
  background-color: #88001B;
  color:white;
  padding: 1% 2%;
  cursor: pointer;
  width: 40%;
}

#pay{
  background-color: #88001B;
  color:white;
  padding: 1% 2%;
  cursor: pointer;
  width: 40%;
}
