/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

body .main {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 4;
  padding: 0;
  margin: 0;
  background-color: white;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container ul {
  display: flex;
  justify-content: space-between;
}

header li {
  float: left;
  display: inline;
  padding: 0 1.3333333333333333em 0 1.3333333333333333em;
}

.navClass > ul > li {
  position: relative;
}

header ul {
  list-style: none;
}

/* Header */
header {
  background: #56A556;
  color: #002A00;
  padding-top: 2em;
  min-height: 4.666666666666667em;
  border-bottom: #59912F 6px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.0666666666666667em;
}

header .highlight {
  float: left;
  font-size: 2.1333333333333333em;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 1.3333333333333333em;
}

header .highlight, header .current a {
  color: #002A00;
  font-weight: bold;
}

header a:hover {
  color: #002A00;
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 46.666666666666664em;
  text-align: center;
  line-height: 3.3333333333333335em;
  color: white;
}

#showcase h2 {
  color: #DA2121;
}

#showcase .copyright {
  color: #000000;
  font-weight: bold;
}

#showcase img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 300px) {
  #showcase img {
    width:65%;
    padding: 1.20em 0em 1.20em 0em;
  }
  #order_link a {
    font-size: 1.25555555555555555em;
  }
}

@media screen and (min-width: 500px) {
  #showcase img {
    width:70%;
    padding: 1em 0em 1em 0em;
  }
  #order_link a {
    font-size: 2.1333333333333333em;
  }
}

@media screen and (min-width: 900px) {
  #showcase img {
    width:90%;
    padding: 2em 1em 2em 1em;
  }
  #order_link a {
    font-size: 3.1333333333333333em;
  }
}


#showcase a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  text-decoration: none;
  color: initial;
}
