/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*baseline*/
html {
  font-size: 1.225em;
  font-family: helvetica, Arial, sans-serif;
  background-color: white;
  height: 100%;
}

body{
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.225em;
  line-height:2.0;
  padding:0;
  margin:0;
}



/*Module formating*/
main header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #56A556;
  padding-left: 1.250em;
  align-content: center;
}

#navcontain ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-right: 0.035em;
  padding-left: 0.035em;
}

#navcontain ul li {
  align-self: center;
  width: 100%;
  padding:  0em 1.250em 0 1.250em;
  border-top: .225em solid #CCCCCC;
  border-right: .225em solid #333333;
  border-bottom: .225em solid #333333;
  border-left: .225em solid #CCCCCC;
}

#branding {
  display: block;
  width: 60%;
}

#branding img {
  max-width: 100%;
}

/*Navigation Styling*/
#navcontain ul li a {
  color: white;
}

#navcontain ul li :hover {
  color:#002A00;
  font-weight:bold;
}

/*tab styling*/

#field{
  background-color: white;
}

#content li label {
  background-color: #EEEEEE;
  color: #333333;
  padding: 1em 4em 1em 4em;
  border-top: .225em solid #CCCCCC;
  border-right: .225em solid #333333;
  border-bottom: .225em solid #333333;
  border-left: .225em solid #CCCCCC;
}

/*content styling*/
.tabflex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
}

@media screen and (max-width: 350px) {
  #content li label {
    padding: 1em 2em 1em 2em;
    border-top: .115em solid #CCCCCC;
    border-right: .115em solid #333333;
    border-bottom: .115em solid #333333;
    border-left: .115em solid #CCCCCC;
  }
}

@media screen and (min-width: 600px) {
  .tabflex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

#box #content {
  padding: 2em  1em  1em  1em;
}

#tab1 li, label:hover {
  cursor: pointer;
  color:#002A00;
  font-weight:bold;
}

#tab2 li, label:hover {
  cursor: pointer;
  color:#002A00;
  font-weight:bold;
}

/*Content styling*/

.whitebackground {
  background-color: white;
}

/*hiding content*/
.hidden {
  display: none;
}
/*show content*/
.show {
 display: block;
}

/*content revealing*/
